# Copyright (C) 2018 RDA Technologies Limited and/or its affiliates("RDA").
# All rights reserved.
#
# This software is supplied "AS IS" without any warranties.
# RDA assumes no responsibility or liability for the use of the software,
# conveys no license or title under any patent, copyright, or mask work
# right to the product. RDA reserves the right to make changes in the
# software without notification.  RDA also make no representation or
# warranty that such application will be suitable for the specified use
# without further testing or modification.

menu "at_ftp"

choice
	prompt "select ftp version"
	default AT_NEWFTP_SUPPORT
config AT_FTP_SUPPORT
	bool "Enable the old version ftp client command"
	help
		Enable the old version ftp client command
config AT_NEWFTP_SUPPORT
	bool "Enable the new version ftp client command"
	select FTP_MODULE_SUPPORT
	help
		Enable the new version ftp client command
config AT_NOFTP_SUPPORT
	bool "Disable the at ftp clinet command"
	help
		Disable the at ftp client command

endchoice
endmenu
