# Copyright (C) 2018 RDA Technologies Limited and/or its affiliates("RDA").
# All rights reserved.
#
# This software is supplied "AS IS" without any warranties.
# RDA assumes no responsibility or liability for the use of the software,
# conveys no license or title under any patent, copyright, or mask work
# right to the product. RDA reserves the right to make changes in the
# software without notification.  RDA also make no representation or
# warranty that such application will be suitable for the specified use
# without further testing or modification.

menu "POC"

config POC_SUPPORT
    bool "POC supported"
    default y
    help
        When enabled, poc should be supported.

if POC_SUPPORT
config POC_AUDIO_RECORDER_SUPPORT
    bool "POC audio recorder supported"
    default y
    help
        poc audio recorder should be supported.

config POC_AUDIO_PLAYER_SUPPORT
    bool "POC audio player supported"
    default y
    help
        poc audio player should be supported.

config POC_KEYPAD_SUPPORT
    bool "POC keypad supported"
    default y
    help
        poc keypad should be supported.

config POC_GUI_SUPPORT
    bool "POC gui supported"
    default y
    help
        poc gui should be supported.

config POC_GUI_CHOICE_SIM_SUPPORT
    bool "POC gui choice sim card supported"
    default n
    help
        poc gui should be supported.

config POC_GUI_START_ANIMATION_SUPPORT
    bool "POC gui start animation supported"
    default y
    help
        poc gui should be supported.

config POC_GUI_CHOICE_SIM_SUPPORT
    bool "POC gui choice sim card supported"
    default n
    help
        poc gui should be supported.

config POC_TTS_SUPPORT
    bool "POC TTS supported"
    default n
    help
        poc gui should be supported.

config POC_GUI_CHOICE_NET_TYPE_SUPPORT
    bool "POC gui choice net type supported"
    default n
    help
        poc gui should be supported.

config POC_GUI_CHOICE_THEME_SUPPORT
    bool "POC gui choice theme supported"
    default n
    help
        poc gui should be supported.

config POC_AUDIO_SPEAKER_WOMEN
    bool "POC gui choice SPEAKER supported"
    default y
    help
        poc gui should be supported.

config POC_GUI_KEYPAD_LIGHT_SUPPORT
    bool "POC gui keypad light supported"
    default n
    help
        poc gui should be supported.

config POC_AUDIO_DATA_IDT_BUFF_MAX_SIZE
    int "receive idt data by buff"
    default 3
    help
        open status more than 3 , close status less than 4
endif

endmenu
